<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Woocop{% endblock %}</title>
    <link rel="icon" href="{{ asset('uploads/logo1.svg') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet"/>
        <link rel="preload" href="{{ asset('monstyle.css') }}" as="style"/>
        <link rel="stylesheet" media="screen" href="{{ asset('monstyle.css') }}">


    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
        <script src="https://kit.fontawesome.com/b24ca366d4.js" crossorigin="anonymous"></script>
        <script defer src="{{ asset('js/main.js') }}"></script>
    {% endblock %}

</head>

<body>
{#        <nav> #}
{% if not app.user %}
    <nav class="main-black border-gray-200 sm:pl-6 white:bg-gray-900 fixed w-full z-50 py-6">
        <div class=" flex flex-wrap items-center justify-between mx-auto">
            <a href="{{ path('app_public') }}" class="flex items-center">
                <img src="{{ asset('uploads/logo1.svg') }}" class="h-6 mr-3 sm:h-6" alt="woocop Logo"/>
                <span class="self-center text-xl font-semibold whitespace-nowrap white:text-white">WOOCOP</span>
            </a>
            <div class="mr-6">
                <a class="mt-2 w-full ease-in duration-100 text-white  font-medium rounded-lg text-sm px-5 py-3 text-center cursor-pointer text-zinc-300 bg-zinc-900/20 hover:bg-zinc-900/40 mr-4"
                   href="{{ path('security_login') }}">Connexion</a>
                <a class="mt-4 w-full ease-in duration-100 text-white focus:ring-4 shadow-lg shadow-orange-600/20 font-medium rounded-lg text-sm px-5 py-3 text-center mb-2 main-gradient-b cursor-pointer"
                   href="{{ path('security_registration') }}">Inscription</a>
            </div>
        </div>
    </nav>

{% else %}
    <nav class="main-black border-gray-200 sm:pl-6 white:bg-gray-900 fixed w-full z-50">
        <div class=" flex flex-wrap items-center justify-between mx-auto">
            <a href="{{ path('app_public') }}" class="flex items-center">
                <img src="{{ asset('uploads/logo1.svg') }}" class="h-6 mr-3 sm:h-6" alt="woocop Logo"/>
                <span class="self-center text-xl font-semibold whitespace-nowrap white:text-white">WOOCOP</span>
            </a>

            <button data-collapse-toggle="navbar-default" type="button"
                    class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 white:text-gray-400 white:hover:bg-gray-700 white:focus:ring-gray-600"
                    aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
            <div class="flex items-center gap-6">
                <div class="flex gap-4">
                    <div data-tooltip-target="notif"
                         class="cursor-pointer bg-zinc-600/10 hover:bg-zinc-600/30 p-2 rounded-lg text-2xl text-zinc-500 ">
                        <svg
                                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M257 120.471c7.083 0 23.911 4.479 23.911 4.479 45.589 10.447 77.678 52.439 77.678 99.85V352.412l9.321 9.364 7.788 7.823H136.302l7.788-7.823 9.321-9.364V224.8c0-47.41 32.089-89.403 77.678-99.85 0 0 18.043-4.479 23.911-4.479M256 48c-17.602 0-31.059 13.518-31.059 31.2v14.559c-59.015 13.523-103.53 67.601-103.53 131.041v114.4L80 380.8v20.8h352v-20.8l-41.411-41.6V224.8c0-63.44-44.516-117.518-103.53-131.041V79.2c0-17.682-13.457-31.2-31.059-31.2zm41.411 374.4h-82.823c0 22.881 18.633 41.6 41.412 41.6s41.411-18.719 41.411-41.6z">
                            </path>
                        </svg>
                    </div>
                    <div id="notif" role="tooltip"
                         class=" absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip bg-zinc-900">
                        Notification
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <div id="dropdownDefaultButton" data-dropdown-toggle="dropdown" data-tooltip-target="lang"
                         class="cursor-pointer bg-zinc-600/10 hover:bg-zinc-600/30 p-2 rounded-lg text-2xl text-zinc-500">
                        <svg
                                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                height="1em"
                                width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z">
                            </path>
                        </svg>
                    </div>
                    <div id="dropdown"
                         class="z-10 hidden blury shadow-lg divide-y divide-gray-100 rounded-lg shadow w-44 overflow-hidden">
                        <ul class="text-sm text-gray-700 dark:text-gray-200 overflow-hidden"
                            aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="/sae401/index.php/fr" class="block px-4 py-3 hover:bg-zinc-700">Francais</a>
                            </li>
                            <li>
                                <a href="/sae401/index.php/en" class="block px-4 py-3 hover:bg-zinc-700">English</a>
                            </li>
                        </ul>
                    </div>
                    <div id="lang" role="tooltip"
                         class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip bg-zinc-900">
                        Choix de la langue
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
                <a href="{{ path('app_profil') }}"
                   class="second-black flex items-center rounded-l-xl bg-gray-200 px-3 py-3 justify-between w-80 pr-6">
                    <div class="flex items-center">
                        <div class="mr-3 w-14 h-14 rounded-xl bg-cover bg-center shadow-lg shadow-orange-600/10 "
                             style=" background-image: url({{ asset('uploads/' ~ user.avatar) }}); background-color: {{ user.couleur }}">
                        </div>
                        <div>
                            <p class="self-center text-xl font-semibold whitespace-nowrap leading-none">{{ user.pseudo }}</p>
                            <p class=" leading-none mt-1 text-zinc-500">{{ user.biographie }}</p>
                        </div>
                    </div>
                    <p class="text-3xl font-semibold flex items-center gap-2 text-gray-500 main-gradient-text leading-none">
                        {{ user.trophee }}
                        <i class="fa-sharp fa-solid fa-trophy fa-xs"></i>
                    </p>
                </a>
            </div>
        </div>
    </nav>
    <aside class="fixed z-40 w-80 h-screen transition-transform -translate-x-full left-full overflow-hidden"
           style="left:100%" aria-label="Sidebar">
        <div class="flex flex-col h-full overflow-y-auto overflow-hidden">
            <div class="h-full rounded-l-xl bg-gray-200 px-3 py-3 mt-28 blury pr-6 overflow-hidden">
                <div class="pb-3 border-b-2 border-zinc-500/10">
                    <div class="text-xl font-semibold text-purple-900 flex items-center justify-between text-zinc-300">
                        <p>
                            Social

                        </p>
                        <div class="flex gap-2 text-zinc-500">
                            <a href="#" id="toggle_search_friend_button"
                               class="bg-zinc-600/10 hover:bg-zinc-600/30 p-2 rounded-lg">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                     height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z"></path>
                                </svg>
                            </a>
                            <a href="" class="bg-zinc-600/10 hover:bg-zinc-600/30 p-2 rounded-lg">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                     height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M433 288.8c-7.7 0-14.3 5.9-14.9 13.6-6.9 83.1-76.8 147.9-161.8 147.9-89.5 0-162.4-72.4-162.4-161.4 0-87.6 70.6-159.2 158.2-161.4 2.3-.1 4.1 1.7 4.1 4v50.3c0 12.6 13.9 20.2 24.6 13.5L377 128c10-6.3 10-20.8 0-27.1l-96.1-66.4c-10.7-6.7-24.6.9-24.6 13.5v45.7c0 2.2-1.7 4-3.9 4C148 99.8 64 184.6 64 288.9 64 394.5 150.1 480 256.3 480c100.8 0 183.4-76.7 191.6-175.1.8-8.7-6.2-16.1-14.9-16.1z"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                    <form id="search_friend" class="flex items-center w-full mt-1" style="display: none;">
                        <div class=" relative z-0 w-full">
                            <input type="text" id="search_ami"
                                   class="block py-1 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-l-2 pl-2 border-zinc-500 appearance-none focus:outline-none focus:ring-0 focus:border-orange-500 peer text-zinc-300"
                                   placeholder="chercher un joueur"/>
                        </div>
                    </form>
                </div>
                <div class=" overflow-y-scroll h-full invisible_scroll pb-16">
                    <button class="accordion text-zinc-400">Amis</button>
                    <div class="panel ">
                        {% for friend in friends %}
                            {% if friend.user.id == user.id %}
                                <div data-modal-target="friendd{{ friend.friend.id }}" data-modal-toggle="friendd{{ friend.friend.id }}" class=" ami flex items-center rounded-xl px-3 py-5 justify-between w-full bg-zinc-600/10 hover:bg-zinc-600/30">
                                    <div class="flex items-center">
                                        <div class="mr-3 sm:h-9 w-9 h-9 rounded-xl bg-cover bg-center"
                                             style="background-image: url({{ asset('uploads/' ~ friend.friend.avatar) }}); background-color: {{ friend.friend.couleur }};">
                                        </div>
                                        <div>
                                            <p class="self-center text-l font-semibold whitespace-nowrap leading-none text-zinc-300">
                                                {{ friend.friend.pseudo }}
                                            </p>
                                            <p class=" text-base leading-none mt-1 text-zinc-500">{{ friend.friend.biographie }}</p>
                                        </div>
                                    </div>
                                    <p class="text-xl flex items-center gap-1 text-zinc-500">{{ friend.friend.trophee }}
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                             viewBox="0 0 1024 1024" height="1em" width="1em"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M868 160h-92v-40c0-4.4-3.6-8-8-8H256c-4.4 0-8 3.6-8 8v40h-92a44 44 0 0 0-44 44v148c0 81.7 60 149.6 138.2 162C265.7 630.2 359 721.7 476 734.5v105.2H280c-17.7 0-32 14.3-32 32V904c0 4.4 3.6 8 8 8h512c4.4 0 8-3.6 8-8v-32.3c0-17.7-14.3-32-32-32H548V734.5C665 721.7 758.3 630.2 773.8 514 852 501.6 912 433.7 912 352V204a44 44 0 0 0-44-44zM184 352V232h64v207.6a91.99 91.99 0 0 1-64-87.6zm520 128c0 49.1-19.1 95.4-53.9 130.1-34.8 34.8-81 53.9-130.1 53.9h-16c-49.1 0-95.4-19.1-130.1-53.9-34.8-34.8-53.9-81-53.9-130.1V184h384v296zm136-128c0 41-26.9 75.8-64 87.6V232h64v120z"></path>
                                        </svg>
                                    </p>
                                </div>
                            {% else %}
                                <div data-modal-target="friendd{{ friend.user.id }}" data-modal-toggle="friendd{{ friend.user.id }}" class=" ami flex items-center rounded-xl px-3 py-5 justify-between w-full bg-zinc-600/10 hover:bg-zinc-600/30">
                                    <div class="flex items-center">
                                        <div class="mr-3 sm:h-9 w-9 h-9 rounded-xl bg-cover bg-center"
                                             style="background-image: url({{ asset('uploads/' ~ friend.user.avatar) }}); background-color: {{ friend.user.couleur }};">
                                        </div>
                                        <div>
                                            <p class="self-center text-l font-semibold whitespace-nowrap leading-none text-zinc-300">
                                                {{ friend.user.pseudo }}
                                            </p>
                                            <p class=" text-base leading-none mt-1 text-zinc-500">{{ friend.user.biographie }}</p>
                                        </div>
                                    </div>
                                    <p class="text-xl flex items-center gap-1 text-zinc-500">{{ friend.user.trophee }}
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                             viewBox="0 0 1024 1024" height="1em" width="1em"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M868 160h-92v-40c0-4.4-3.6-8-8-8H256c-4.4 0-8 3.6-8 8v40h-92a44 44 0 0 0-44 44v148c0 81.7 60 149.6 138.2 162C265.7 630.2 359 721.7 476 734.5v105.2H280c-17.7 0-32 14.3-32 32V904c0 4.4 3.6 8 8 8h512c4.4 0 8-3.6 8-8v-32.3c0-17.7-14.3-32-32-32H548V734.5C665 721.7 758.3 630.2 773.8 514 852 501.6 912 433.7 912 352V204a44 44 0 0 0-44-44zM184 352V232h64v207.6a91.99 91.99 0 0 1-64-87.6zm520 128c0 49.1-19.1 95.4-53.9 130.1-34.8 34.8-81 53.9-130.1 53.9h-16c-49.1 0-95.4-19.1-130.1-53.9-34.8-34.8-53.9-81-53.9-130.1V184h384v296zm136-128c0 41-26.9 75.8-64 87.6V232h64v120z"></path>
                                        </svg>
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="accordion  text-zinc-400 flex gap-2">Demandes en attente
                        <p id="afficheur_compteur_ami"
                           class="rounded w-5 h-5 flex items-center justify-center main-orange mt-0.5 text-zinc-300 text-sm">
                        </p>
                    </button>
                    <div class="panel" id="compteur_ami">
                        {% for friend in friendsR %}
                            <div data-modal-target="friend{{ friend.id }}" data-modal-toggle="friend{{ friend.id }}" class="cursor-pointer ami flex items-center rounded-xl px-3 py-5 justify-between w-full bg-zinc-600/10 hover:bg-zinc-600/30">
                                <div class="flex items-center">
                                    <div class="mr-3 sm:h-9 w-9 h-9 rounded-xl bg-cover bg-center"
                                         style="background-image: url({{ asset('uploads/' ~ friend.user.avatar) }}); background-color: {{ friend.user.couleur }};">
                                    </div>
                                    <div>
                                        <p class="self-center text-l font-semibold whitespace-nowrap leading-none text-zinc-300">
                                            {{ friend.user.pseudo }}
                                        </p>
                                        <p class=" text-base leading-none mt-1 text-zinc-500">{{ friend.user.biographie }}</p>
                                    </div>
                                </div>
                                {% if friend.status == 'pending' %}
                                    <div class="flex gap-2">
                                    <form action="{{ path('accept_friend_request', {'friendId': friend.user.id}) }}"
                                          method="POST" style="display: inline">
                                        <button type="submit" onclick="countAndDisplayElements()"
                                                class=" bg-zinc-600/10 hover:bg-zinc-600/30 p-2 rounded-lg text-green-500"
                                                data-tooltip-target="accept_ami">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                 viewBox="0 0 1024 1024" height="1em" width="1em"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 0 0-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                            </svg>
                                        </button>
                                        <input type="hidden" name="_method" value="PUT">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('accept' ~ friend.user.id) }}">
                                    </form>
                                    <form action="{{ path('decline_friend_request', {'friendId': friend.user.id}) }}"
                                          method="POST" style="display: inline">
                                        <button onclick="countAndDisplayElements()" type="submit"
                                                class=" bg-zinc-600/10 hover:bg-zinc-600/30 p-2 rounded-lg text-red-500"
                                                data-tooltip-target="refuse_ami">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                 viewBox="0 0 1024 1024" height="1em" width="1em"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path>
                                            </svg>
                                        </button>
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('decline' ~ friend.user.id) }}">
                                    </form>
                                    </div>
                                    <div id="accept_ami" role="tooltip"
                                         class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip bg-zinc-900">
                                        Accepter
                                        <div class="tooltip-arrow" data-popper-arrow></div>
                                    </div>
                                    <div id="refuse_ami" role="tooltip"
                                         class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip bg-zinc-900">
                                        Refuser
                                        <div class="tooltip-arrow" data-popper-arrow></div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="accordion  text-zinc-400">Joueurs</button>
                    <div class="panel">
                        {% for user in users %}
                            {% if user.id == userConnecter.id %}
                            {% else %}
                                <div data-modal-target="user{{ user.id }}" data-modal-toggle="user{{ user.id }}"
                                     class="cursor-pointer ami flex items-center rounded-xl px-3 py-5 justify-between w-full bg-zinc-600/10 hover:bg-zinc-600/30">
                                    <div class="flex items-center">
                                        <div class="mr-3 sm:h-9 w-9 h-9 rounded-xl bg-cover bg-center"
                                             style="background-image: url({{ asset('uploads/' ~ user.avatar) }}); background-color: {{ user.couleur }}">
                                        </div>
                                        <div>
                                            <p class="self-center text-l font-semibold whitespace-nowrap leading-none text-zinc-300">
                                                {{ user.pseudo }}
                                            </p>
                                            <p class=" text-base leading-none mt-1 text-zinc-500">{{ user.biographie }}</p>
                                        </div>
                                    </div>
                                    <form class="text-xl flex items-center gap-2 text-gray-500"
                                          action="{{ path('send_friend_request', {'friendId': user.id}) }}"
                                          method="post" style="display: inline;">
                                        <button type="submit"
                                                class="bg-zinc-600/10 hover:bg-zinc-600/30 p-2 rounded-lg text-green-500"
                                                data-tooltip-target="add_ami">
                                            <svg stroke="currentColor" fill="none"
                                                 stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z">
                                                </path>
                                            </svg>
                                        </button>
                                    </form>
                                    <div id="add_ami" role="tooltip"
                                         class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip bg-zinc-900">
                                        Envoyer une demande d'ami
                                        <div class="tooltip-arrow" data-popper-arrow></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </aside>
    {#        pop up quand clique liste user #}
    {% for user in users %}
        {% if user.id == userConnecter.id %}
        {% else %}
            <!-- Main modal -->
            <div id="user{{ user.id }}" tabindex="-1" aria-hidden="true"
                 class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-2xl md:h-auto ">
                    <!-- Modal content -->
                    <div class="relative rounded-lg shadow second-black border-2 border-zinc-500/30 ">
                        <!-- Modal header -->
                        <div class="flex items-start justify-between p-4 border-b rounded-t border-zinc-700">
                            <p class="text-l font-medium px-6 py-1 bg-zinc-400/10 text-zinc-400 rounded">Joueur</p>
                            <button type="button"
                                    class="text-zinc-500 bg-zinc-600/10 hover:bg-zinc-600/30 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
                                    data-modal-hide="user{{ user.id }}">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 space-y-6">
                            <div class=" py-3 flex justify-between items-center">
                                <div class=" flex items-center rounded-l-xl justify-between">
                                    <div class="flex items-center">
                                        <div class="mr-3 w-16 h-16 rounded-xl bg-cover bg-center shadow-lg shadow-orange-600/10 "
                                             style="background-image: url({{ asset('uploads/' ~ user.avatar) }}); background-color: {{ user.couleur }}">
                                        </div>
                                        <div>
                                            <p class="self-center text-xl font-semibold whitespace-nowrap leading-none">
                                                {{ user.pseudo }}</p>
                                            <p class=" leading-none mt-1 text-l text-zinc-500">{{ user.biographie }}</p>
                                        </div>
                                    </div>
                                    <p
                                            class="ml-6 text-2xl font-semibold flex items-center gap-2 text-gray-500 main-gradient-text leading-none">
                                        {{ user.trophee }}
                                        <i class="fa-sharp fa-solid fa-trophy fa-xs"></i>
                                    </p>
                                </div>
                                <div class="flex items-center rounded-l-xl justify-between">
                                    <div class="flex gap-8">
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center victoire">
                                                {{ user.victoire }}</p>
                                            <p class="text-lg  text-zinc-500 text-center">Victoire</p>
                                        </div>
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center defaite">
                                                {{ user.defaite }}</p>
                                            <p class="text-lg  text-zinc-500 text-center">Défaite</p>
                                        </div>
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center ratio">
                                                {% if user.victoire > 0 and user.defaite > 0  %}
                                                {{ ( user.victoire / user.defaite )|round(2, 'floor') }}
                                            {% else %}
                                            Na
                                            {% endif %}
                                            </p>
                                            <p class="text-lg text-zinc-500 text-center">Ratio</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% for friend in friendsR %}
        <!-- Main modal -->
        <div id="friend{{ friend.id }}" tabindex="-1" aria-hidden="true"
             class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
            <div class="relative w-full h-full max-w-2xl md:h-auto ">
                <!-- Modal content -->
                <div class="relative rounded-lg shadow second-black border-2 border-zinc-500/30 ">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t border-zinc-700">
                        <p class="text-l font-medium px-6 py-1 bg-zinc-400/10 text-zinc-500 rounded">Joueur</p>
                        <button type="button"
                                class="text-zinc-500 bg-zinc-600/10 hover:bg-zinc-600/30 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
                                data-modal-hide="friend{{ friend.id }}">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 space-y-6">
                        <div class=" py-3 flex justify-between items-center">
                            <div class=" flex items-center rounded-l-xl justify-between">
                                <div class="flex items-center">
                                    <div class="mr-3 w-16 h-16 rounded-xl bg-cover bg-center shadow-lg shadow-orange-600/10 "
                                         style="background-image: url({{ asset('uploads/' ~ friend.user.avatar) }}); background-color: {{ friend.user.couleur }}">
                                    </div>
                                    <div>
                                        <p class="self-center text-xl font-semibold whitespace-nowrap leading-none">
                                            {{ friend.user.pseudo }}</p>
                                        <p class=" leading-none mt-1 text-l text-zinc-500">{{ friend.user.biographie }}</p>
                                    </div>
                                </div>
                                <p
                                        class="ml-6 text-2xl font-semibold flex items-center gap-2 text-gray-500 main-gradient-text leading-none">
                                    {{ friend.user.trophee }}
                                    <i class="fa-sharp fa-solid fa-trophy fa-xs"></i>
                                </p>
                            </div>
                            <div class="flex items-center rounded-l-xl justify-between">
                                <div class="flex gap-8">
                                    <div class="">
                                        <p
                                                class="text-2xl text-center victoire">
                                            {{ friend.user.victoire }}</p>
                                        <p class="text-lg  text-zinc-500 text-center">Victoire</p>
                                    </div>
                                    <div class="">
                                        <p
                                                class="text-2xl text-center defaite">
                                            {{ friend.user.defaite }}</p>
                                        <p class="text-lg  text-zinc-500 text-center">Défaite</p>
                                    </div>
                                    <div class="">
                                        <p
                                                class="text-2xl text-center ratio">
                                            {% if friend.user.victoire > 0 and friend.user.defaite > 0  %}
                                            {{ ( friend.user.victoire / friend.user.defaite )|round(2, 'floor') }}
                                            {% else %}
                                                Na
                                            {% endif %}
                                        </p>
                                        <p class="text-lg text-zinc-500 text-center">Ratio</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% for friend in friends %}
        {% if friend.user.id == user.id %}
            <!-- Main modal -->
            <div id="friendd{{ friend.friend.id }}" tabindex="-1" aria-hidden="true"
                 class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-2xl md:h-auto ">
                    <!-- Modal content -->
                    <div class="relative rounded-lg shadow second-black border-2 border-zinc-500/30 ">
                        <!-- Modal header -->
                        <div class="flex items-start justify-between p-4 border-b rounded-t border-zinc-700">
                            <p class="text-l font-medium px-6 py-1 bg-zinc-400/10 text-zinc-500 rounded">Joueur</p>
                            <button type="button"
                                    class="text-zinc-500 bg-zinc-600/10 hover:bg-zinc-600/30 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
                                    data-modal-hide="friendd{{ friend.friend.id }}">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 space-y-6">
                            <div class=" py-3 flex justify-between items-center">
                                <div class=" flex items-center rounded-l-xl justify-between">
                                    <div class="flex items-center">
                                        <div class="mr-3 w-16 h-16 rounded-xl bg-cover bg-center shadow-lg shadow-orange-600/10 "
                                             style="background-image: url({{ asset('uploads/' ~ friend.friend.avatar) }}); background-color: {{ friend.friend.couleur }}">
                                        </div>
                                        <div>
                                            <p class="self-center text-xl font-semibold whitespace-nowrap leading-none">
                                                {{ friend.friend.pseudo }}</p>
                                            <p class=" leading-none mt-1 text-l text-zinc-500">{{ friend.friend.biographie }}</p>
                                        </div>
                                    </div>
                                    <p
                                            class="ml-6 text-2xl font-semibold flex items-center gap-2 text-gray-500 main-gradient-text leading-none">
                                        {{ friend.friend.trophee }}
                                        <i class="fa-sharp fa-solid fa-trophy fa-xs"></i>
                                    </p>
                                </div>
                                <div class="flex items-center rounded-l-xl justify-between">
                                    <div class="flex gap-8">
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center victoire">
                                                {{ friend.friend.victoire }}</p>
                                            <p class="text-lg  text-zinc-500 text-center">Victoire</p>
                                        </div>
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center defaite">
                                                {{ friend.friend.defaite }}</p>
                                            <p class="text-lg  text-zinc-500 text-center">Défaite</p>
                                        </div>
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center ratio">
                                                {% if friend.friend.victoire > 0 and friend.friend.defaite > 0  %}
                                                    {{ ( friend.friend.victoire / friend.friend.defaite )|round(2, 'floor') }}
                                                {% else %}
                                                    Na
                                                {% endif %}
                                            </p>
                                            <p class="text-lg text-zinc-500 text-center">Ratio</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- Main modal -->
            <div id="friendd{{ friend.user.id }}" tabindex="-1" aria-hidden="true"
                 class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                <div class="relative w-full h-full max-w-2xl md:h-auto ">
                    <!-- Modal content -->
                    <div class="relative rounded-lg shadow second-black border-2 border-zinc-500/30 ">
                        <!-- Modal header -->
                        <div class="flex items-start justify-between p-4 border-b rounded-t border-zinc-700">
                            <p class="text-l font-medium px-6 py-1 bg-zinc-400/10 text-zinc-500 rounded">Joueur</p>
                            <button type="button"
                                    class="text-zinc-500 bg-zinc-600/10 hover:bg-zinc-600/30 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
                                    data-modal-hide="friendd{{ friend.user.id }}">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 space-y-6">
                            <div class=" py-3 flex justify-between items-center">
                                <div class=" flex items-center rounded-l-xl justify-between">
                                    <div class="flex items-center">
                                        <div class="mr-3 w-16 h-16 rounded-xl bg-cover bg-center shadow-lg shadow-orange-600/10 "
                                             style="background-image: url({{ asset('uploads/' ~ friend.user.avatar) }}); background-color: {{ friend.user.couleur }}">
                                        </div>
                                        <div>
                                            <p class="self-center text-xl font-semibold whitespace-nowrap leading-none">
                                                {{ friend.user.pseudo }}</p>
                                            <p class=" leading-none mt-1 text-l text-zinc-500">{{ friend.user.biographie }}</p>
                                        </div>
                                    </div>
                                    <p
                                            class="ml-6 text-2xl font-semibold flex items-center gap-2 text-gray-500 main-gradient-text leading-none">
                                        {{ friend.user.trophee }}
                                        <i class="fa-sharp fa-solid fa-trophy fa-xs"></i>
                                    </p>
                                </div>
                                <div class="flex items-center rounded-l-xl justify-between">
                                    <div class="flex gap-8">
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center victoire">
                                                {{ friend.user.victoire }}</p>
                                            <p class="text-lg  text-zinc-500 text-center">Victoire</p>
                                        </div>
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center defaite">
                                                {{ friend.user.defaite }}</p>
                                            <p class="text-lg  text-zinc-500 text-center">Défaite</p>
                                        </div>
                                        <div class="">
                                            <p
                                                    class="text-2xl text-center ratio">
                                                {% if friend.user.victoire > 0 and friend.user.defaite > 0  %}
                                                    {{ ( friend.user.victoire / friend.user.defaite )|round(2, 'floor') }}
                                                {% else %}
                                                    Na
                                                {% endif %}
                                            </p>
                                            <p class="text-lg text-zinc-500 text-center">Ratio</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
     {% endfor %}
    {% endfor %}
    {#        message d'erreur #}
    {% for type, messages in app.flashes() %}
        {% for message in messages %}
            <div id="toast-danger"
                 class="alert alert-{{ type }} flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 rounded-lg shadow blury fixed z-50 bottom-2 left-6 border-2 border-red-700/20"
                 role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8  rounded-lg bg-red-700/20">
                    <svg aria-hidden="true" class="w-5 h-5 text-red-500" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only ">Warning icon</span>
                </div>
                <div class="ml-3 text-sm font-normal">{{ message }}</div>
                <button type="button"
                        class="ml-auto -mx-1.5 -my-1.5 text-zinc-500 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 inline-flex h-8 w-8 bg-zinc-600/10 hover:bg-zinc-600/30"
                        data-dismiss-target="#toast-danger" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
<div id="loader">
    <div class="loader">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
    </div>
    <style>
        body {
            overflow: hidden;
        }
        #loader {
            width: 100vw;
            height: 100vh;
            background-color: #1f2227;
            position: fixed;
            z-index: 9999999999;
            overflow-y: hidden;
            display: grid;
            place-content: center;
        }
        .loader {
            width: 112px;
            height: 112px;
        }

        .box1,
        .box2,
        .box3 {
            background: linear-gradient(-55deg, #FD5F02 0%, #C932C2 100%) !important;
            box-sizing: border-box;
            position: absolute;
            border-radius: 10px;
            display: block;
        }

        .box1 {
            width: 112px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
            animation: abox1 4s 1s forwards ease-in-out infinite;
        }

        .box2 {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
            animation: abox2 4s 1s forwards ease-in-out infinite;
        }

        .box3 {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
            animation: abox3 4s 1s forwards ease-in-out infinite;
        }

        @keyframes abox1 {
            0% {
                width: 112px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }

            12.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }

            25% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }

            37.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }

            50% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }

            62.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }

            75% {
                width: 48px;
                height: 112px;
                margin-top: 0px;
                margin-left: 0px;
            }

            87.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }

            100% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }
        }

        @keyframes abox2 {
            0% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }

            12.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }

            25% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }

            37.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }

            50% {
                width: 112px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }

            62.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }

            75% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }

            87.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }

            100% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }
        }

        @keyframes abox3 {
            0% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }

            12.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }

            25% {
                width: 48px;
                height: 112px;
                margin-top: 0px;
                margin-left: 64px;
            }

            37.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }

            50% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }

            62.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }

            75% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }

            87.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }

            100% {
                width: 112px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }
        }

    </style>
</div>
<script>
    function hideLoader() {
        const loader = document.querySelector('#loader');
        const body = document.querySelector('body');
        if (loader) {
            loader.style.opacity = 1;


            setTimeout(() => {
                loader.style.opacity = 0;
                loader.style.display = 'none';
                body.style.overflow = 'auto';
            }, 2000);

        }
    }
    window.addEventListener('load', hideLoader);
</script>


{% block body %}{% endblock %}

</body>
</html>
