<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="./public/css/output.css" rel="stylesheet">
        <link
                href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
                rel="stylesheet" />
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <script src="https://cdn.tailwindcss.com/3.2.4"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body>
        <nav>
            <a href="{{ path('app_public') }}">public</a>
            {% if not app.user %}
            <a href="{{ path('security_login') }}">Connexion</a>
            {% else %}
            <a href="{{ path('security_logout') }}">Déconnexion</a>
            {% endif %}
        </nav>
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
        <script src="./node_modules/tw-elements/dist/js/index.min.js"></script>

    </body>
</html>
