{% extends 'base.html.twig' %}


{% block body %}

    <div class="flex w-full">
        <div class="h-screen flex-auto px-6">
            <div class="pt-28 h-full w-full border-dashed border-2 border-sky-500/20">
                <div class="w-full h-1/3 grid grid-cols-9 gap-6">
                    <div class="col-start-1 col-end-4 bg-red-100 h-full second-black  rounded-xl shadow-xl flex flex-col gap-2 p-4 overflow-y-scroll invisible_scroll">
                        <p class="text-xl font-semibold flex items-center justify-between text-zinc-300 ">Classement</p>
                        <div class=" overflow-y-scroll invisible_scroll ">
                            {% for leader in leaders %}
                            <a href="" class="w-full h-12 rounded-xl flex items-center px-4 justify-between bg-zinc-600/10 hover:bg-zinc-600/30 mb-2">
                                <div class="flex gap-2 items-center ">
                                    <div class=" w-7 h-7 rounded bg-cover bg-center" style="background-image: url({{ asset('uploads/' ~ leader.avatar) }}); background-color: {{ leader.couleur }};"></div>
                                    <p class="text-zinc-100"> {{ leader.pseudo }}</p>
                                </div>
                                <div class="flex gap-2 items-center text-xl main-gradient-text">
                                    <p class="text-zinc-100">{{ leader.trophee }}</p>
                                    <i class="fa-sharp fa-solid fa-trophy fa-xs text-zinc-100 mt-1"></i>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-start-4 col-end-8 bg-red-100 h-full second-black  rounded-xl shadow-xl p-4">
                        <form action="{{ path('create_partie') }}">
                        <button type="submit" class="mt-4 w-full ease-in duration-100 text-white focus:ring-4 shadow-lg shadow-orange-600/20 font-medium rounded-lg text-sm px-5 py-3 text-center mb-4 main-gradient-b cursor-pointer mt-4">Créer une partie</button>
                        </form>
                    </div>
                    <div data-modal-target="regle" data-modal-toggle="regle" class="col-start-8 col-end-10 bg-purple-100 h-full second-black  rounded-xl shadow-xl blury ">
                        <div class="card h-full rounded-xl text-4xl text-zinc-300">
                            <div class="card-content p-4">
                                <div class="border-2 border-orange-600 w-fit rounded-xl p-2">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M6,22h15v-2H6.012C5.55,19.988,5,19.805,5,19s0.55-0.988,1.012-1H19h1h1v-1v-2V4c0-1.103-0.897-2-2-2H6 C4.794,2,3,2.799,3,5v3v6v3v2C3,21.201,4.794,22,6,22z M5,8V5c0-0.805,0.55-0.988,1-1h13v11v1H5v-2V8z"></path><path d="M8 6H17V8H8z"></path></svg>
                                </div>
                                <p class="text-xl font-semibold flex items-center justify-between mt-2">Carnet de règles</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full h-2/3 grid grid-cols-9 gap-6 py-6">
                    <div class="col-start-1 col-end-4 h-full second-black rounded-xl shadow-xl p-4 flex flex-col justify- gap-4">
                        <div class="h-full w-full rounded-md bg-cover bg-center bg-no-repeat shadow-xl" style="background-image: url({{ asset('uploads/partie.png') }}); background-size: 120%; opacity: 0.8"></div>
                        <form action="{{ path('app_join_partie') }}">
                            <button type="submit" class=" w-full ease-in duration-100 text-white focus:ring-4 shadow-lg shadow-orange-600/20 font-medium rounded-lg text-sm px-5 py-3 text-center main-gradient-b cursor-pointer">Rejoindre des Parties</button>
                        </form>
                    </div>
                    <div class="col-start-4 col-end-10 h-full border-dashed flex flex-col gap-4 overflow-y-scroll invisible_scroll">
                        <p class="text-xl font-semibold flex items-center justify-between text-zinc-300">Vos parties en cours</p>
                        <div class="overflow-y-scroll invisible_scroll">
                            {% if partiesDuUser is empty %}
                                <div class="w-full h-16 blury rounded-xl flex items-center px-4 justify-between main-gradient-dark mb-3">
                                    <p class="text-zinc-500">Vous êtes dans aucune partie...</p>
                                </div>
                            {% endif %}
                        {% for partiesDuUserr in partiesDuUser %}

                            {% if partiesDuUserr.statut == 'en cours' %}
                        <div class="w-full h-16 blury rounded-xl flex items-center px-4 justify-between main-gradient-dark mb-3">

                            {% if partiesDuUserr.user1.id == user.id %}

                                <div class="flex gap-2 items-center flex-1">
                                    <div class=" w-9 h-9 rounded-xl bg-cover bg-center" style="background-image: url({{ asset('uploads/' ~ partiesDuUserr.user2.avatar) }}); background-color: {{ partiesDuUserr.user2.couleur }};"></div>
                                    <p class="text-zinc-100">{{ partiesDuUserr.user2.pseudo }}</p>
                                </div>
                            {% else %}
                                <div class="flex gap-2 items-center flex-1">
                                    <div class=" w-9 h-9 rounded-xl bg-cover bg-center" style="background-image: url({{ asset('uploads/' ~ partiesDuUserr.user1.avatar) }}); background-color: {{ partiesDuUserr.user1.couleur }};"></div>
                                    <p class="text-zinc-100">{{ partiesDuUserr.user1.pseudo }}</p>
                                </div>
                            {% endif %}
                            <div class="flex gap-2 items-center flex-1">
                                <p class="text-zinc-500">tour:</p>
                                <p class="text-zinc-100">{{ partiesDuUserr.tour }}/9</p>
                            </div>
                            <div class="flex gap-2 items-center flex-1">
                                {% if partiesDuUserr.tour is odd %}
                                    <p class="text-zinc-100">A vous de jouer</p>
                                {% else %}
                                    <p class="text-zinc-100">Au tour de l'adversaire</p>
                                {% endif %}
                            </div>
                            {% if partiesDuUserr.tour is odd %}
                                {% if partiesDuUserr.user1.id == user.id %}
                                    <a href="/{{ partiesDuUserr.id }}/1" class="grid place-content-center bg-green-400/5 hover:bg-green-400/10 rounded-lg text-green-500 px-4 h-9 rounded-xl">jouer</a>
                                {% else %}
                                        <a href="/{{ partiesDuUserr.id }}/2" class="grid place-content-center bg-green-400/5 hover:bg-green-400/10 rounded-lg text-green-500 px-4 h-9 rounded-xl">jouer</a>
                                {% endif %}
                            {% else %}
                                {% if partiesDuUserr.user1.id == user.id %}
                                        <a href="/{{ partiesDuUserr.id }}/1" class="grid place-content-center bg-red-400/5 hover:bg-red-400/10 rounded-lg text-red-500 px-4 h-9 rounded-xl">jouer</a>
                                {% else %}
                                        <a href="/{{ partiesDuUserr.id }}/2/" class="grid place-content-center bg-red-400/5 hover:bg-red-400/10 rounded-lg text-red-500 px-4 h-9 rounded-xl">jouer</a>
                                {% endif %}
                            {% endif %}
                        </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-screen w-80">
        </div>
    </div>
    <div id="regle" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-2xl md:h-auto ">
            <!-- Modal content -->
            <div class="relative rounded-lg shadow second-black border-2 border-zinc-500/30">
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t border-zinc-700">

                    <p class="text-l font-medium px-6 py-1 bg-zinc-400/10 text-zinc-400 rounded">Règles</p>

                    <button type="button" class="text-zinc-500 bg-zinc-600/10 hover:bg-zinc-600/30 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center " data-modal-hide="regle">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 space-y-6">
                    <div class=" py-3 flex justify-between items-center">
                        <div class=" rounded-l-xl">
                            <h3 class="text-xl text-zinc-400 font-bold mb-2">Codenames Duo</h3>
                            <p>
                            Est un jeu coopératif pour 2 joueurs (ou plus) dans lequel vous devez retrouver tous vos Noms de Code avant la fin du temps imparti. Pour cela, vous devez, tour à tour, deviner ou faire deviner vos Noms de Code en donnant le meilleur indice possible. Prenez garde à ne pas tomber sur les redoutables Assassins qui rôdent !
                            </p>
                            <h3 class="text-lg text-zinc-400 font-semibold mb-2 mt-4">Principe du jeu:</h3>
                            <p>
                            Face à vous se trouve une carte clé recto verso. Chacun a alors devant soi 9 mots à faire deviner à son coéquipier dont 3 en commun. Parmi les trois assassins qui se trouvent devant vous, l’un d’entre eux appartient aussi au deux camps ! Chaque joueur connaît donc une partie des Noms de Code à trouver. Il va donc falloir coopérer pour trouver  l’ensemble des Noms de Code avant la fin des 9 tours. Pour cela, chacun à votre tour, vous donnez un indice pouvant désigner plusieurs Noms de Code sur la table. Votre partenaire, quant à lui, tente de deviner ces Noms de Code tout en évitant de rencontrer l’un des terribles Assassins qui vous font perdre la partie. Trouvez l’ensemble des 15 Noms de Code avant la fin des 9 tours pour remporter la victoire.
                            </p>

                            <h3 class="text-lg text-zinc-400 font-semibold mb-2 mt-4">Comment jouer:</h3>
                            <ul>
                                <li>- Donnez des indices sur les mots à trouver et à ne pas trouver.</li>
                                <li>- Séléctionnez les mots selon les indices de votre partenaire.</li>
                                <li>- Tentez de retrouver tout les mots avant le tour 9.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user.biographie is null %}
        <div id="biographie" tabindex="-1" aria-hidden="true" role="dialog" aria-modal="true" class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full justify-center items-center flex bg-gray-900/50">
            <div class="relative w-full h-full max-w-2xl md:h-auto ">
                <!-- Modal content -->
                <div class="relative rounded-lg shadow second-black border-2 border-zinc-500/30">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t border-zinc-700">

                        <p class="text-l font-medium px-6 py-1 bg-zinc-400/10 text-zinc-400 rounded">Biographie</p>


                    </div>
                    <!-- Modal body -->
                    <div class="p-4 space-y-6">
                        <div class=" py-3 flex justify-between items-center">
                            <div class=" rounded-l-xl">
                                {{ form_start(biographie_form) }}
                                {{ form_widget(biographie_form) }}
                                <style>
                                    #biographie_biographie {
                                        display: flex;
                                        gap: 8px;
                                    }
                                    #biographie_biographie_0,
                                    #biographie_biographie_1,
                                    #biographie_biographie_2,
                                    #biographie_biographie_3,
                                    #biographie_biographie_4,
                                    #biographie_biographie_5
                                    {
                                        display: none !important;
                                    }
                                    #biographie_biographie_0 + label,
                                    #biographie_biographie_1 + label,
                                    #biographie_biographie_2 + label,
                                    #biographie_biographie_3 + label,
                                    #biographie_biographie_4 + label,
                                    #biographie_biographie_5 + label
                                    {
                                        color: rgba(128, 128, 128, 0.43);
                                        padding: 4px 10px;
                                        border-radius: 4px;
                                        border: 1px solid rgba(128, 128, 128, 0.43);
                                    }
                                    #biographie_biographie_0:checked + label,
                                    #biographie_biographie_1:checked + label,
                                    #biographie_biographie_2:checked + label,
                                    #biographie_biographie_3:checked + label,
                                    #biographie_biographie_4:checked + label,
                                    #biographie_biographie_5:checked + label
                                    {
                                        color: white;
                                        border: 1px solid white;
                                    }
                                </style>
                                <button type="submit" class="mt-4 ease-in duration-100 text-white focus:ring-4 shadow-lg shadow-orange-600/20 font-medium rounded-lg text-sm px-5 py-3 text-center main-gradient-b cursor-pointer mt-4">Sauvegarder</button>
                                {{ form_end(biographie_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


















    <h1>Mon profil</h1>
    <p>Nom d'utilisateur : {{ user.pseudo }}</p>
    <p>Email : {{ user.email }}</p>
    <p>trophées : {{ user.trophee }}</p>
    <p>win : {{ user.victoire }}</p>
    <p>loose : {{ user.defaite }}</p>
    <hr>

    <p class="text-xl font-bold">Leaderboard</p>
    {% for leader in leaders %}
        {{ leader.pseudo }}
        {{ leader.trophee }}
        <br>
    {% endfor %}
    <hr>
{#    <h2>historique de tt les parties</h2>#}
{#    <button id="toggleButton">Afficher uniquement les parties en cours</button>#}
{#    {% for partie in parties %}#}
{#        {% if partie.statut == 'terminé' %}#}
{#            <div id="terminer">#}
{#            {{ partie.id }}#}
{#            {{ partie.statut }}#}
{#            </div>#}
{#        {% else %}#}
{#            <div id="enCours">#}
{#                {{ partie.id }}#}
{#                {{ partie.statut }}#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    <hr>#}
{#    <h2>historique des partie du user</h2>#}
{#    {% for partie in partiesDuUser %}#}
{#        <li>#}
{#            {{ partie.id }} - {{ partie.statut }}#}
{#        </li>#}
{#    {% endfor %}#}





















{#    <hr>#}
{#    <br>#}
{#    <hr>#}
{#    <h2>vos amis</h2>#}
{#    {% for friend in friends %}#}
{#        {{ friend.friend.pseudo }}#}
{#        {{ friend.status }}#}
{#    {% endfor %}#}
{#    {% for friend in friends2 %}#}
{#        {{ friend.user.pseudo }}#}
{#        {{ friend.status }}#}
{#    {% endfor %}#}

{#    <h2>liste des joueurs</h2>#}
{#    {% for user in users %}#}
{#        {{ user.pseudo }}#}
{#        <form action="{{ path('send_friend_request', {'friendId': user.id}) }}" method="post" style="display: inline;">#}
{#            <button type="submit">Ajouter</button>#}
{#        </form>#}
{#        <br>#}
{#    {% endfor %}#}
{#    <hr>#}
{#    <h2>liste de demande d'ami</h2>#}
{#    {% for friend in friendsR %}#}
{#        {{ friend.user.pseudo }}#}
{#        {% if friend.status == 'pending' %}#}
{#            <form action="{{ path('accept_friend_request', {'friendId': friend.user.id}) }}" method="POST" style="display: inline">#}
{#                <button type="submit">Accepter</button>#}
{#                <input type="hidden" name="_method" value="PUT">#}
{#                <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ friend.user.id) }}">#}
{#            </form>#}
{#            <form action="{{ path('decline_friend_request', {'friendId': friend.user.id}) }}" method="POST" style="display: inline">#}
{#                <button type="submit">Refuser</button>#}
{#                <input type="hidden" name="_method" value="DELETE">#}
{#                <input type="hidden" name="_token" value="{{ csrf_token('decline' ~ friend.user.id) }}">#}
{#            </form>#}
{#        {% endif %}#}
{#    {% endfor %}#}


    <hr>
    <br>
    <hr>

    <p class="text-2xl">Partie 2eme version</p>
    <p class="text-xl font-bold">toute les parties</p>
    {% for partie in parties %}
        {% if partie.statut == 'terminé' %}
            <div id="terminer">
                {{ partie.id }}
                {{ partie.statut }}
            </div>
        {% else %}
            <div id="enCours">
                {{ partie.id }}
                {{ partie.statut }}
            </div>
        {% endif %}
    {% endfor %}

    <p class="text-xl font-bold">partie dans lequel est le joueur</p>
    {% for partiesDuUserr in partiesDuUser %}
    {% if partiesDuUserr.statut == 'en cours' %}
        {{ partiesDuUserr.id }}
    {% if partiesDuUserr.user1.id == user.id %}
        {{ partiesDuUserr.user2.pseudo }}
    {% else %}
        {{ partiesDuUserr.user1.pseudo }}
    {% endif %}
        {{ partiesDuUserr.statut }}
        <br>
        {% endif %}
    {% endfor %}
    <p class="text-xl font-bold">partie dans lequel était le joueur</p>
    {% for partiesDuUserr in partiesDuUser %}
        {% if partiesDuUserr.statut == 'terminé' %}
            {{ partiesDuUserr.id }}
            {% if partiesDuUserr.user1.id == user.id %}
                {{ partiesDuUserr.user2.pseudo }}
            {% else %}
                {{ partiesDuUserr.user1.pseudo }}
            {% endif %}
            {{ partiesDuUserr.statut }}
            <a href="#">voir la partie</a>
            <br>

        {% endif %}
    {% endfor %}




    <h2>boutton créer une partie</h2>
    <form action="{{ path('create_partie') }}" type="post">
        <input type="text" >
        <button type="submit">créer une partie</button>
    </form>

























    <script>
        function toggleElements() {
            var elements = document.querySelectorAll("#terminer");
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].style.display === "none") {
                    elements[i].style.display = "block";
                    button.innerHTML = "Afficher uniquement les parties en cours"
                } else {
                    elements[i].style.display = "none";
                    button.innerHTML = "Afficher toutes les parties"
                }
            }
        }

        var button = document.querySelector("#toggleButton");
        button.addEventListener("click", toggleElements);

    </script>
    <style>
        body {
            background-image: url({{ asset('uploads/fond_1.svg') }});
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>

{% endblock %}
