{% extends 'base.html.twig' %}


{% block body %}

    <div class="flex w-full">
        <div class="h-screen flex-auto px-6">
            <div class="pt-28 h-full w-full border-dashed border-2 border-sky-500/20">
                <div class="w-full h-1/3 grid grid-cols-9 gap-6">
                    <div class="col-start-1 col-end-4 bg-red-100 h-full second-black  rounded-xl shadow-xl flex flex-col gap-2 p-4 overflow-y-scroll invisible_scroll">
                        <p class="text-xl font-semibold flex items-center justify-between text-zinc-300 ">Classement</p>
                        <div class=" overflow-y-scroll invisible_scroll ">
                            {% for leader in leaders %}
                            <a href="" class="w-full h-12 rounded-xl flex items-center px-4 justify-between bg-zinc-600/10 hover:bg-zinc-600/30 mb-2">
                                <div class="flex gap-2 items-center ">
                                    <div class=" w-7 h-7 rounded bg-cover bg-center" style="background-image: url({{ asset('uploads/' ~ leader.avatar) }}); background-color: {{ leader.couleur }};"></div>
                                    <p class="text-zinc-100"> {{ leader.pseudo }}</p>
                                </div>
                                <div class="flex gap-2 items-center text-xl main-gradient-text">
                                    <p class="text-zinc-100">{{ leader.trophee }}</p>
                                    <i class="fa-sharp fa-solid fa-trophy fa-xs text-zinc-100 mt-1"></i>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-start-4 col-end-7 bg-red-100 h-full second-black  rounded-xl shadow-xl"></div>
                    <div class="col-start-7 col-end-10 bg-purple-100 h-full second-black  rounded-xl shadow-xl"></div>
                </div>
                <div class="w-full h-2/3 grid grid-cols-9 gap-6 py-6">
                    <div class="col-start-1 col-end-4 h-full second-black rounded-xl shadow-xl"></div>
                    <div class="col-start-4 col-end-10 h-full border-dashed flex flex-col gap-4 overflow-y-scroll invisible_scroll">
                        <p class="text-xl font-semibold flex items-center justify-between text-zinc-300">Vos parties en cours</p>
                        <div class="overflow-y-scroll invisible_scroll">
                            {% if partiesDuUser is empty %}
                                <div class="w-full h-16 blury rounded-xl flex items-center px-4 justify-between main-gradient-dark mb-3">
                                    <p class="text-zinc-500">Vous êtes dans aucune partie...</p>
                                </div>
                            {% endif %}
                        {% for partiesDuUserr in partiesDuUser %}

                            {% if partiesDuUserr.statut == 'en cours' %}
                        <div class="w-full h-16 blury rounded-xl flex items-center px-4 justify-between main-gradient-dark mb-3">

                            {% if partiesDuUserr.user1.id == user.id %}

                                <div class="flex gap-2 items-center flex-1">
                                    <div class=" w-9 h-9 rounded-xl bg-cover bg-center" style="background-image: url({{ asset('uploads/' ~ partiesDuUserr.user2.avatar) }}); background-color: {{ partiesDuUserr.user2.couleur }};"></div>
                                    <p class="text-zinc-100">{{ partiesDuUserr.user2.pseudo }}</p>
                                </div>
                            {% else %}
                                <div class="flex gap-2 items-center flex-1">
                                    <div class=" w-9 h-9 rounded-xl bg-cover bg-center" style="background-image: url({{ asset('uploads/' ~ partiesDuUserr.user1.avatar) }}); background-color: {{ partiesDuUserr.user1.couleur }};"></div>
                                    <p class="text-zinc-100">{{ partiesDuUserr.user1.pseudo }}</p>
                                </div>
                            {% endif %}
                            <div class="flex gap-2 items-center flex-1">
                                <p class="text-zinc-500">tour:</p>
                                <p class="text-zinc-100">{{ partiesDuUserr.tour }}/9</p>
                            </div>
                            <div class="flex gap-2 items-center flex-1">
                                {% if partiesDuUserr.tour is odd %}
                                    <p class="text-zinc-100">A vous de jouer</p>
                                {% else %}
                                    <p class="text-zinc-100">Au tour de l'adversaire</p>
                                {% endif %}
                            </div>
                            {% if partiesDuUserr.tour is odd %}
                            <button class="bg-green-400/5 hover:bg-green-400/10 rounded-lg text-green-500 px-4 h-9 rounded-xl">jouer</button>
                            {% else %}
                            <button class="bg-red-400/5 hover:bg-red-400/10 rounded-lg text-red-500 px-4 h-9 rounded-xl">jouer</button>
                            {% endif %}
                        </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-screen w-80">
        </div>
    </div>
















    {{ form_start(biographie_form) }}
    {{ form_widget(biographie_form) }}
    <button type="submit">Save</button>
    {{ form_end(biographie_form) }}


    <h1>Mon profil</h1>
    <p>Nom d'utilisateur : {{ user.pseudo }}</p>
    <p>Email : {{ user.email }}</p>
    <p>trophées : {{ user.trophee }}</p>
    <p>win : {{ user.victoire }}</p>
    <p>loose : {{ user.defaite }}</p>
    <hr>

    <p class="text-xl font-bold">Leaderboard</p>
    {% for leader in leaders %}
        {{ leader.pseudo }}
        {{ leader.trophee }}
        <br>
    {% endfor %}
    <hr>
{#    <h2>historique de tt les parties</h2>#}
{#    <button id="toggleButton">Afficher uniquement les parties en cours</button>#}
{#    {% for partie in parties %}#}
{#        {% if partie.statut == 'terminé' %}#}
{#            <div id="terminer">#}
{#            {{ partie.id }}#}
{#            {{ partie.statut }}#}
{#            </div>#}
{#        {% else %}#}
{#            <div id="enCours">#}
{#                {{ partie.id }}#}
{#                {{ partie.statut }}#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    <hr>#}
{#    <h2>historique des partie du user</h2>#}
{#    {% for partie in partiesDuUser %}#}
{#        <li>#}
{#            {{ partie.id }} - {{ partie.statut }}#}
{#        </li>#}
{#    {% endfor %}#}





















{#    <hr>#}
{#    <br>#}
{#    <hr>#}
{#    <h2>vos amis</h2>#}
{#    {% for friend in friends %}#}
{#        {{ friend.friend.pseudo }}#}
{#        {{ friend.status }}#}
{#    {% endfor %}#}
{#    {% for friend in friends2 %}#}
{#        {{ friend.user.pseudo }}#}
{#        {{ friend.status }}#}
{#    {% endfor %}#}

{#    <h2>liste des joueurs</h2>#}
{#    {% for user in users %}#}
{#        {{ user.pseudo }}#}
{#        <form action="{{ path('send_friend_request', {'friendId': user.id}) }}" method="post" style="display: inline;">#}
{#            <button type="submit">Ajouter</button>#}
{#        </form>#}
{#        <br>#}
{#    {% endfor %}#}
{#    <hr>#}
{#    <h2>liste de demande d'ami</h2>#}
{#    {% for friend in friendsR %}#}
{#        {{ friend.user.pseudo }}#}
{#        {% if friend.status == 'pending' %}#}
{#            <form action="{{ path('accept_friend_request', {'friendId': friend.user.id}) }}" method="POST" style="display: inline">#}
{#                <button type="submit">Accepter</button>#}
{#                <input type="hidden" name="_method" value="PUT">#}
{#                <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ friend.user.id) }}">#}
{#            </form>#}
{#            <form action="{{ path('decline_friend_request', {'friendId': friend.user.id}) }}" method="POST" style="display: inline">#}
{#                <button type="submit">Refuser</button>#}
{#                <input type="hidden" name="_method" value="DELETE">#}
{#                <input type="hidden" name="_token" value="{{ csrf_token('decline' ~ friend.user.id) }}">#}
{#            </form>#}
{#        {% endif %}#}
{#    {% endfor %}#}


    <hr>
    <br>
    <hr>

    <p class="text-2xl">Partie 2eme version</p>
    <p class="text-xl font-bold">toute les parties</p>
    {% for partie in parties %}
        {% if partie.statut == 'terminé' %}
            <div id="terminer">
                {{ partie.id }}
                {{ partie.statut }}
            </div>
        {% else %}
            <div id="enCours">
                {{ partie.id }}
                {{ partie.statut }}
            </div>
        {% endif %}
    {% endfor %}

    <p class="text-xl font-bold">partie dans lequel est le joueur</p>
    {% for partiesDuUserr in partiesDuUser %}
    {% if partiesDuUserr.statut == 'en cours' %}
        {{ partiesDuUserr.id }}
    {% if partiesDuUserr.user1.id == user.id %}
        {{ partiesDuUserr.user2.pseudo }}
    {% else %}
        {{ partiesDuUserr.user1.pseudo }}
    {% endif %}
        {{ partiesDuUserr.statut }}
        <br>
        {% endif %}
    {% endfor %}
    <p class="text-xl font-bold">partie dans lequel était le joueur</p>
    {% for partiesDuUserr in partiesDuUser %}
        {% if partiesDuUserr.statut == 'terminé' %}
            {{ partiesDuUserr.id }}
            {% if partiesDuUserr.user1.id == user.id %}
                {{ partiesDuUserr.user2.pseudo }}
            {% else %}
                {{ partiesDuUserr.user1.pseudo }}
            {% endif %}
            {{ partiesDuUserr.statut }}
            <a href="#">voir la partie</a>
            <br>

        {% endif %}
    {% endfor %}




    <h2>boutton créer une partie</h2>
    <form action="{{ path('create_partie') }}" type="post">
        <input type="text" >
        <button type="submit">créer une partie</button>
    </form>

























    <script>
        function toggleElements() {
            var elements = document.querySelectorAll("#terminer");
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].style.display === "none") {
                    elements[i].style.display = "block";
                    button.innerHTML = "Afficher uniquement les parties en cours"
                } else {
                    elements[i].style.display = "none";
                    button.innerHTML = "Afficher toutes les parties"
                }
            }
        }

        var button = document.querySelector("#toggleButton");
        button.addEventListener("click", toggleElements);

    </script>
    <style>
        body {
            background-image: url({{ asset('uploads/fond_1.svg') }});
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>

{% endblock %}
