{% extends 'base.html.twig' %}

{% block title %}Hello FriendController!{% endblock %}

{% block body %}

    <h2>vos amis</h2>
    {% for friend in friends %}
        {{ friend.friend.pseudo }}
        {{ friend.status }}
    {% endfor %}
    {% for friend in friends2 %}
        {{ friend.user.pseudo }}
        {{ friend.status }}
    {% endfor %}

    <h2>liste des joueurs</h2>
    {% for user in users %}
        {{ user.pseudo }}
        <form action="{{ path('send_friend_request', {'friendId': user.id}) }}" method="post" style="display: inline;">
            <button type="submit">Ajouter</button>
        </form>
        <br>
    {% endfor %}
    <hr>
    <h2>liste de demande d'ami</h2>
    {% for friend in friendsR %}
        {{ friend.user.pseudo }}
        {% if friend.status == 'pending' %}
            <form action="{{ path('accept_friend_request', {'friendId': friend.user.id}) }}" method="POST" style="display: inline">
                <button type="submit">Accepter</button>
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ friend.user.id) }}">
            </form>
            <form action="{{ path('decline_friend_request', {'friendId': friend.user.id}) }}" method="POST" style="display: inline">
                <button type="submit">Refuser</button>
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('decline' ~ friend.user.id) }}">
            </form>
        {% endif %}
    {% endfor %}


    {#    {% for friend in pendingFriends %}#}
{#        <div>#}
{#            {{ friend.username }} wants to be your friend.#}
{#            <a href="{{ path('accept_friend_request', {'friendId': friend.id}) }}">Accept</a>#}
{#            <a href="{{ path('decline_friend_request', {'friendId': friend.id}) }}">Decline</a>#}
{#        </div>#}
{#    {% endfor %}#}

{% endblock %}
